<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vendor.raspdroid.serialportservice"
    android:sharedUserId="android.uid.system" >
    <application android:name=".SerialPortService"
        android:persistent="true" >
    </application>
    <permission
        android:name="vendor.raspdroid.serialportservice.permission.SERIALPORT"
        android:protectionLevel="normal" />
</manifest>